@using ETicaret2.Models.Model
@model IEnumerable<Product>
@{
    ViewBag.Title = "SearchHata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="mainBody">
    <div class="container">
        <div class="row">
            <!-- Sidebar ================================================== -->
            <div id="sidebar" class="span3">

                @Html.Action("Summary", "Cart")

                <ul id="sideManu" class="nav nav-tabs nav-stacked">


                    @Html.Action("_CategoryList", "Category")



                </ul>
                <br />
                @Html.Action("FeaturedProductList", "Home")


            </div>
            <!-- Sidebar end=============================================== -->
            <div class="span9">




                <ul class="breadcrumb">
                    <li><a href="/Home/Index">Ana Sayfa</a> <span class="divider">/</span></li>
                    <li class="active">Ürün İsimleri</li>
                </ul>
                <h3> Ürün İsimleri<small class="pull-right">  </small></h3>
                <hr class="soft">
                <p>

                </p>
                <hr class="soft">
                <form class="form-horizontal span6">
                </form>



                <br class="clr">
                <div class="tab-content">
                    <div class="tab-pane" id="listView">
                        <div class="row">
                            <div class="span2">
                                <img src="/Magaza/bootstrap-shop/themes//images/products/3.jpg" alt="">
                            </div>
                            <div class="span4">
                                <h3>New | Available</h3>
                                <hr class="soft">
                                <h5>Product Name </h5>
                                <p>
                                    Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
                                    that is why our goods are so popular..
                                </p>
                                <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                                <br class="clr">
                            </div>
                            <div class="span3 alignR">
                                <form class="form-horizontal qtyFrm">
                                    <h3> $140.00</h3>
                                    <label class="checkbox">
                                        <input type="checkbox">  Adds product to compair
                                    </label><br>

                                    <a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                                    <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>

                                </form>
                            </div>
                        </div>
                        <hr class="soft">
                        <div class="row">
                            <div class="span2">
                                <img src="/Magaza/bootstrap-shop/themes//images/products/1.jpg" alt="">
                            </div>
                            <div class="span4">
                                <h3>New | Available</h3>
                                <hr class="soft">
                                <h5>Product Name </h5>
                                <p>
                                    Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
                                    that is why our goods are so popular..
                                </p>
                                <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                                <br class="clr">
                            </div>
                            <div class="span3 alignR">
                                <form class="form-horizontal qtyFrm">
                                    <h3> $140.00</h3>
                                    <label class="checkbox">
                                        <input type="checkbox">  Adds product to compair
                                    </label><br>

                                    <a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                                    <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>

                                </form>
                            </div>
                        </div>
                        <hr class="soft">
                        <div class="row">
                            <div class="span2">
                                <img src="/Magaza/bootstrap-shop/themes//images/products/3.jpg" alt="">
                            </div>
                            <div class="span4">
                                <h3>New | Available</h3>
                                <hr class="soft">
                                <h5>Product Name </h5>
                                <p>
                                    Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
                                    that is why our goods are so popular..
                                </p>
                                <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                                <br class="clr">
                            </div>
                            <div class="span3 alignR">
                                <form class="form-horizontal qtyFrm">
                                    <h3> $140.00</h3>
                                    <label class="checkbox">
                                        <input type="checkbox">  Adds product to compair
                                    </label><br>

                                    <a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                                    <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>

                                </form>
                            </div>
                        </div>
                        <hr class="soft">
                        <div class="row">
                            <div class="span2">
                                <img src="/Magaza/bootstrap-shop/themes//images/products/3.jpg" alt="">
                            </div>
                            <div class="span4">
                                <h3>New | Available</h3>
                                <hr class="soft">
                                <h5>Product Name </h5>
                                <p>
                                    Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
                                    that is why our goods are so popular..
                                </p>
                                <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                                <br class="clr">
                            </div>
                            <div class="span3 alignR">
                                <form class="form-horizontal qtyFrm">
                                    <h3> $140.00</h3>
                                    <label class="checkbox">
                                        <input type="checkbox">  Adds product to compair
                                    </label><br>

                                    <a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                                    <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>

                                </form>
                            </div>
                        </div>

                        <hr class="soft">
                        <div class="row">
                            <div class="span2">
                                <img src="/Magaza/bootstrap-shop/themes//images/products/3.jpg" alt="">
                            </div>
                            <div class="span4">
                                <h3>New | Available</h3>
                                <hr class="soft">
                                <h5>Product Name </h5>
                                <p>
                                    Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
                                    that is why our goods are so popular..
                                </p>
                                <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                                <br class="clr">
                            </div>
                            <div class="span3 alignR">
                                <form class="form-horizontal qtyFrm">
                                    <h3> $140.00</h3>
                                    <label class="checkbox">
                                        <input type="checkbox">  Adds product to compair
                                    </label><br>
                                    <a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                                    <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                                </form>
                            </div>
                        </div>
                        <hr class="soft">
                        <div class="row">
                            <div class="span2">
                                <img src="/Magaza/bootstrap-shop/themes//images/products/3.jpg" alt="">
                            </div>
                            <div class="span4">
                                <h3>New | Available</h3>
                                <hr class="soft">
                                <h5>Product Name </h5>
                                <p>
                                    Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
                                    that is why our goods are so popular..
                                </p>
                                <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                                <br class="clr">
                            </div>
                            <div class="span3 alignR">
                                <form class="form-horizontal qtyFrm">
                                    <h3> $140.00</h3>
                                    <label class="checkbox">
                                        <input type="checkbox">  Adds product to compair
                                    </label><br>

                                    <a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                                    <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>

                                </form>
                            </div>
                        </div>
                        <hr class="soft">
                    </div>

                    <div class="tab-pane  active" id="blockView">
                        


                            <div class="alert alert-error">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <strong>Uyarı !</strong> Sepetinizde ürün bulunmamaktadır.
                            </div>





                        




                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
