@model ETicaret2.Models.Cart
<div class="well well-small">
    <a id="myCart" href="/Cart/Index">
        <img src="/Magaza/bootstrap-shop/themes/images/ico-cart.png" alt="cart"> [@Model.CartLines.Count] Adet
        <span class="badge badge-warning pull-right">@Model.Total().ToString("c")</span>
    </a>
</div>

